<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moois</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="shortcut icon" href="Moois_website" type="x-icon" />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/et.js"></script>
    <script src="/long-press-event"></script>
    <script type="module">
        import loadTunniplaan from '/tunniplaan';
        import { loadKodutoo, savetodb } from '/kodutoo';

        const tunniplaanElement = document.getElementById('tunniplaan');
        const kodutooElement = document.getElementById('kodutoo');

        const isTunniplaan = '<%-pohivaade-%>' === 'tunniplaan';

        if (isTunniplaan || window.name === 'tunniplaan') {
            window.name = 'tunniplaan';
            tunniplaanElement.style.display = 'block';
            kodutooElement.style.display = 'none';
        } else {
            window.name = 'kodutoo';
            tunniplaanElement.style.display = 'none';
            kodutooElement.style.display = 'block';
        }

        document.addEventListener('DOMContentLoaded', function(){
            const tunniplaan = loadTunniplaan('<%-ois%>');
            const kodutoo = loadKodutoo('<%-moodle%>');
            let datepicker = null;
            let timepicker = null;
            
            const kodutooButton = document.querySelector('.fc-kodutood-button');
            const tunniplaanButton = document.querySelector('.fc-tunniplaan-button');

            tunniplaanButton.addEventListener("click", function(){
                tunniplaan.refetchEvents();
                tunniplaan.updateSize();
            });

            kodutooButton.addEventListener("click", function(){
                kodutoo.refetchEvents();
            });

            document.getElementById('kodutoo').getElementsByClassName("fc-add_event-button")[0].addEventListener("click", () => {
                datepicker = flatpickr(".date", {
                                locale: "et",
                                altInput: true,
                                altFormat: "F j, Y",
                                dateFormat: "Y-m-d",
                                defaultDate: Date.now(),
                                wrap: true
                            });
                timepicker = flatpickr(".time", {
                                enableTime: true,
                                noCalendar: true,
                                dateFormat: "H:i",
                                defaultDate: "00:00",
                                time_24hr: true,
                                wrap: true
                            });
            });

            document.getElementById('close-button').addEventListener('click', () => {
                if(datepicker) datepicker.destroy();
                if(timepicker) datepicker.destroy();
                document.getElementById('datetimeadd').reset();
                datepicker = null;
                timepicker = null;
            });

            document.getElementById('add-button').addEventListener('click', () => {
                if(document.getElementById('event-title').value !== "") {
                    if(datepicker) datepicker.destroy();
                    if(timepicker) datepicker.destroy();
                    datepicker = null;
                    timepicker = null;
                }
            });

            document.getElementById('datetimeadd').addEventListener('submit', function(event) {
                event.preventDefault();
                document.getElementById('add').style.display='none'
                const id = self.crypto.randomUUID();
                const title = document.getElementById('event-title').value.replace(/</g, "&lt;").replace(/>/g, "&gt;");
                const date = document.getElementById('date').value;
                const time = document.getElementById('time').value;
                const datetime = date + "T" + time;
                event.target.reset()
                savetodb({id:id, title:title, start:datetime, extendedProps: {userAdded: 'true', status: "", color: ""}}, "event-add")
                kodutoo.addEvent({id:id, title:title, start:datetime, extendedProps: {userAdded: 'true', status: "", color: ""}}, true);
            });

            document.addEventListener('visibilitychange', function(info){
                if(document.visibilityState ==='visible'){
                    if(window.name === 'tunniplaan'){
                        tunniplaan.refetchEvents();
                    } else {
                        kodutoo.refetchEvents();
                    }
                }
            });
            
            const switchElement = document.getElementById('switch');
            switchElement.addEventListener('change', function () {
                const element = document.body;
                const isDarkMode = switchElement.checked;
                localStorage.setItem("dark_mode", isDarkMode);
                element.classList.toggle("dark-mode", isDarkMode);
            });
        })
        
    </script>
</head>
<body>
    <script>
        if(localStorage.getItem("dark_mode") !== null){
            if(localStorage.getItem("dark_mode") === "true"){
                let element = document.body;
                element.classList.add("dark-mode");
            }
        }
        document.addEventListener("scroll", (event) => {
                let scroll = this.scrollY;
                if (scroll > 2 & document.getElementById('kodutoo').style.display === 'block') {
                    document.getElementById('kodutoo').querySelector(".fc-header-toolbar").classList.add("shadow");
                } else {
                    document.getElementById('kodutoo').querySelector(".fc-header-toolbar").classList.remove("shadow");
                }
        }); 
    </script>
    <div class="loader"></div>
    <div id='tunniplaan' class="tunniplaan"></div>
    <div id='kodutoo' class="kodutoo"></div>
    <div id="settings" class="modal">
        <form action="/settingssave" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="submit" class="close" onclick="document.getElementById('settings').style.display='none'">&times;</button>
                    <h2>Seadmed</h2>
                </div>
                <div class="modal-body">
                    <p>Õis kalendri link:<input name="ois" type="text" id="ois" value="<%=ois%>" class="modal-input" placeholder="Õis"/></p>
                    <p>Moodle kalendri link:<input name="moodle" type="text" value="<%=moodle%>" id="moodle" placeholder="Moodle" class="modal-input"/></p>
                    <p>Põhivaade:<select name="pohivaade" id="pohivaade" class="pv-select">
                        <% if(pohivaade == 'tunniplaan'){%>
                            <option id="pohivaade" value='tunniplaan' selected>Tunniplaan</option>
                            <option id="pohivaade" value='kodutoo'>Kodutoo</option>
                        <%} else {%>
                            <option id="pohivaade" value='tunniplaan'>Tunniplaan</option>
                            <option id="pohivaade" value='kodutoo' selected>Kodutöö</option>
                        <%}%>
                    </select></p>
                    <p>Tume režiim:<input type="checkbox" id="switch" /><label for="switch">Toggle</label></p>
                    <p><button type="button" class="logout-button" onclick="window.location.href='logout'">Logi välja</button></p>
                </div>
            </div>
        </form>
    </div>
    <div id="add" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <button id="close-button" class="close" onclick="document.getElementById('add').style.display='none';">&times;</button>
                <h2>Lisa kodutöö</h2>
            </div>
            <div class="modal-body">
                <form id="datetimeadd">
                    <p>Kodutöö pealkiri:</p>
                    <input type="text" id="event-title" class="modal-input" placeholder="Sisesta pealkiri" autocomplete="off" required>

                    <p>Kuupäev:</p>
                    <div class="datetime-flex">
                        <div class="date">
                            <input id="date" name="date" class="datetime" data-input>
                            <i class="fa fa-calendar" data-toggle></i>
                        </div>
                        <div class="time">
                            <input id="time" name="time" class="datetime" data-input>
                            <i class="fa fa-clock" data-toggle></i>
                        </div>
                        <div class="submit">
                            <button id="add-button" type="submit" class="add-button">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>